{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="text-center">
            <h1 class="mt-0">
                <a
                    href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}startseite/login/"
                >
                    <img
                        src="/titlewide.webp"
                        style="max-width: 90%"
                        alt="NetCologne Servicenummer Logo"
                    />
                </a>
            </h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
            <p class="lead">{{ .Params.lead | safeHTML }}</p>
            <a
                class="btn btn-secondary btn-lg px-4 mb-2"
                href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}startseite/login/"
                role="button"
                >Los geht's</a
            >
        </div>
    </div>
</section>
{{ end }} {{ define "sidebar-prefooter" }}
<section class="section section-sm">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <!-- <img src="nc1.svg" alt="Visual illustration from nc" height=250 width=350/> -->
                <h2 class="h4">0180 - Der Service-Klassiker</h2>
                <p>
                    Die Nummer für Service-Dienste mit Preisen pro Minute oder
                    pro Anruf.
                </p>
            </div>
            <div class="col-lg-5">
                <!-- <img src="nc2.svg" alt="Visual illustration from nc" height=250 width=350/> -->
                <h2 class="h4">0800 - Die kundenfreundliche</h2>
                <p>
                    Als maximal kundenfreundliche Lösung tragen Sie die Kosten
                    für die Anrufe.
                </p>
            </div>
            <div class="col-lg-5">
                <!-- <img src="nc3.svg" alt="Visual illustration from nc" height=250 width=350/> -->
                <h2 class="h4">Apropos Effizienz</h2>
                <p>
                    Mit integrierten Statistiken sehen Sie wann das
                    Anrufaufkommen am größten ist.
                </p>
            </div>
        </div>
    </div>

    <br />
    <br />
</section>
{{ end }} {{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-9">{{- .Content -}}</div>
    </div>
</section>
{{ end }}
